/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

#barAccessibility,
#footer-bar {
    padding: 6px 0;
    font-size: 12px;
    text-align: center;
}
#barAccessibility a,
#footer-bar a {
    color: inherit;
    text-decoration: none;
}
#barAccessibility a:hover{
    color: #ddd;
}
#accessibilityFontes{
    text-align: right;
}
#accessibilityFontes a{
    padding: 0 5px; 
    cursor: pointer;
}
#accessibilityFontes a:nth-last-child(1){
    border-right: none;
}
#accessibilityTutorial{
    float: left;
}
#accessibilityTutorial a{
    margin-left: 5px;
}
#accessibilityTutorial span{
    background-color: #ddd;
    color: #000;
    padding: 0 5px;
}
#accessibilityTutorial a:hover span{
    background-color: #fff;
}
#cookie-bar-button {
    text-decoration: none !important;
}
#cookie-bar-button:hover {
    text-decoration: underline !important;
}
::selection{ /*cor de texto selecionado*/
    background-color: #333;
    color: #FF0;
}

/********************** Contraste *****************/
.bodyBlack,
.bodyBlack *:not(#barAccessibility, #barAccessibility *, #footer-bar, #footer-bar *, a, a *){ /*body*/
    background: #000 !important;
    color: #fff !important;
}
.bodyBlack ::selection{ /*texto selecionado*/
    background-color: #FF0 !important;
    color: #000 !important;
}
.bodyBlack .imgBlack{ /*inserir esta classe em imagens sem fundos com texto em preto*/
    background: #fff !important;
}
.bodyBlack a{ /*links*/
    color: #ff0 !important;
}
.bodyBlack #nav, .bodyBlack #countHome, .bodyBlack #nav .dropdown-menu, .bodyBlack .dropdown-menu,
.bodyBlack #footer, .bodyBlack .card-header, .bodyBlack .nav-link, .bodyBlack .pagination .disabled .page-link,
.bodyBlack #barAcessibilidade{ /*menu, footer e barra de acessibiliadade*/
    background: #666 !important;
}
 .bodyBlack .titleMain, .bodyBlack .breadcrumb, .bodyBlack .nav-item .active,
 .bodyBlack #searchInside, .bodyBlack .card, .bodyBlack #language a{
    background: #333 !important;
}

/********************** Formatação Formulário **********************/
.bodyBlack input[type=text], .bodyBlack input[type=password], .bodyBlack input[type=url],
.bodyBlack input[type=search], .bodyBlack input[type=email], .bodyBlack input[type=tel],
.bodyBlack input[type=date], .bodyBlack input[type=month], .bodyBlack input[type=week],
.bodyBlack input[type=datetime], .bodyBlack input[type=datetime-local],
.bodyBlack textarea, .bodyBlack select,
.bodyBlack input[type=number] {
    background-color: #000 !important;
    color: #fff !important;
}

/******************
Inserir divs do seu site
ex: ".bodyBlack .noticias" para div noticia
*********************/
.bodyBlack #header, .bodyBlack .boxHome, .bodyBlack #searchInside, .bodyBlack .dropdown-menu a:hover,
.bodyBlack .bgColor1, .bodyBlack #parceiros, .bodyBlack .table, .bodyBlack .page-item a{
    background: #000 !important;
    color: #fff !important;
}
.bodyBlack .card button{
    color: #fff !important;
}
.bodyBlack .table tr:hover{
    color: #999 !important;
}

/********************* High Contrast *********************/
body.bodyHighContrast {
  background: #000 !important;
}
body.bodyHighContrast .placebo {
  line-height: normal;
}
body.bodyHighContrast * {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
body.bodyHighContrast a,
body.bodyHighContrast abbr,
body.bodyHighContrast acronym,
body.bodyHighContrast address,
body.bodyHighContrast article,
body.bodyHighContrast aside,
body.bodyHighContrast b,
body.bodyHighContrast basefont,
body.bodyHighContrast bdi,
body.bodyHighContrast big,
body.bodyHighContrast blink,
body.bodyHighContrast blockquote,
body.bodyHighContrast body,
body.bodyHighContrast button,
body.bodyHighContrast canvas,
body.bodyHighContrast caption,
body.bodyHighContrast center,
body.bodyHighContrast cite,
body.bodyHighContrast code,
body.bodyHighContrast col,
body.bodyHighContrast colgroup,
body.bodyHighContrast command,
body.bodyHighContrast dd,
body.bodyHighContrast del,
body.bodyHighContrast details,
body.bodyHighContrast dfn,
body.bodyHighContrast dir,
body.bodyHighContrast div,
body.bodyHighContrast dl,
body.bodyHighContrast dt,
body.bodyHighContrast em,
body.bodyHighContrast embed,
body.bodyHighContrast fieldset,
body.bodyHighContrast figcaption,
body.bodyHighContrast figure,
body.bodyHighContrast font,
body.bodyHighContrast footer,
body.bodyHighContrast form,
body.bodyHighContrast h1,
body.bodyHighContrast h1 a,
body.bodyHighContrast h1 a b,
body.bodyHighContrast h1 abbr,
body.bodyHighContrast h1 b,
body.bodyHighContrast h1 center,
body.bodyHighContrast h1 em,
body.bodyHighContrast h1 i,
body.bodyHighContrast h1 span,
body.bodyHighContrast h1 strong,
body.bodyHighContrast h2,
body.bodyHighContrast h2 a,
body.bodyHighContrast h2 a b,
body.bodyHighContrast h2 abbr,
body.bodyHighContrast h2 b,
body.bodyHighContrast h2 center,
body.bodyHighContrast h2 em,
body.bodyHighContrast h2 i,
body.bodyHighContrast h2 span,
body.bodyHighContrast h2 strong,
body.bodyHighContrast h3,
body.bodyHighContrast h3 a,
body.bodyHighContrast h3 a b,
body.bodyHighContrast h3 abbr,
body.bodyHighContrast h3 b,
body.bodyHighContrast h3 center,
body.bodyHighContrast h3 em,
body.bodyHighContrast h3 i,
body.bodyHighContrast h3 span,
body.bodyHighContrast h3 strong,
body.bodyHighContrast h4,
body.bodyHighContrast h4 a,
body.bodyHighContrast h4 a b,
body.bodyHighContrast h4 abbr,
body.bodyHighContrast h4 b,
body.bodyHighContrast h4 center,
body.bodyHighContrast h4 em,
body.bodyHighContrast h4 i,
body.bodyHighContrast h4 span,
body.bodyHighContrast h4 strong,
body.bodyHighContrast h5,
body.bodyHighContrast h5 a,
body.bodyHighContrast h5 a b,
body.bodyHighContrast h5 abbr,
body.bodyHighContrast h5 b,
body.bodyHighContrast h5 center,
body.bodyHighContrast h5 em,
body.bodyHighContrast h5 i,
body.bodyHighContrast h5 span,
body.bodyHighContrast h5 strong,
body.bodyHighContrast h6,
body.bodyHighContrast h6 a,
body.bodyHighContrast h6 a b,
body.bodyHighContrast h6 abbr,
body.bodyHighContrast h6 b,
body.bodyHighContrast h6 center,
body.bodyHighContrast h6 em,
body.bodyHighContrast h6 i,
body.bodyHighContrast h6 span,
body.bodyHighContrast h6 strong,
body.bodyHighContrast header,
body.bodyHighContrast hgroup,
body.bodyHighContrast html,
body.bodyHighContrast i,
body.bodyHighContrast iframe,
body.bodyHighContrast img,
body.bodyHighContrast input,
body.bodyHighContrast ins,
body.bodyHighContrast kbd,
body.bodyHighContrast label,
body.bodyHighContrast legend,
body.bodyHighContrast li,
body.bodyHighContrast listing,
body.bodyHighContrast main,
body.bodyHighContrast mark,
body.bodyHighContrast marquee,
body.bodyHighContrast menu,
body.bodyHighContrast meter,
body.bodyHighContrast multicol,
body.bodyHighContrast nav,
body.bodyHighContrast nobr,
body.bodyHighContrast object,
body.bodyHighContrast ol,
body.bodyHighContrast option,
body.bodyHighContrast output,
body.bodyHighContrast p,
body.bodyHighContrast plaintext,
body.bodyHighContrast pre,
body.bodyHighContrast progress,
body.bodyHighContrast q,
body.bodyHighContrast rb,
body.bodyHighContrast rp,
body.bodyHighContrast rt,
body.bodyHighContrast ruby,
body.bodyHighContrast s,
body.bodyHighContrast samp,
body.bodyHighContrast section,
body.bodyHighContrast select,
body.bodyHighContrast small,
body.bodyHighContrast span,
body.bodyHighContrast strike,
body.bodyHighContrast strong,
body.bodyHighContrast sub,
body.bodyHighContrast summary,
body.bodyHighContrast sup,
body.bodyHighContrast svg,
body.bodyHighContrast table,
body.bodyHighContrast tbody,
body.bodyHighContrast td,
body.bodyHighContrast text,
body.bodyHighContrast textarea,
body.bodyHighContrast th,
body.bodyHighContrast thead,
body.bodyHighContrast time,
body.bodyHighContrast tr,
body.bodyHighContrast tt,
body.bodyHighContrast u,
body.bodyHighContrast ul,
body.bodyHighContrast var,
body.bodyHighContrast video,
body.bodyHighContrast xmp {
  -moz-appearance: none !important;
  -moz-user-select: text !important;
  -webkit-user-select: text !important;
  background-image: none !important;
  text-shadow: none !important;
  user-select: text !important;
}
body.bodyHighContrast a,
body.bodyHighContrast abbr,
body.bodyHighContrast acronym,
body.bodyHighContrast address,
body.bodyHighContrast article,
body.bodyHighContrast aside,
body.bodyHighContrast b,
body.bodyHighContrast basefont,
body.bodyHighContrast bdi,
body.bodyHighContrast big,
body.bodyHighContrast blink,
body.bodyHighContrast blockquote,
body.bodyHighContrast body,
body.bodyHighContrast canvas,
body.bodyHighContrast caption,
body.bodyHighContrast center,
body.bodyHighContrast cite,
body.bodyHighContrast code,
body.bodyHighContrast col,
body.bodyHighContrast colgroup,
body.bodyHighContrast command,
body.bodyHighContrast dd,
body.bodyHighContrast del,
body.bodyHighContrast details,
body.bodyHighContrast dfn,
body.bodyHighContrast dir,
body.bodyHighContrast div,
body.bodyHighContrast dl,
body.bodyHighContrast dt,
body.bodyHighContrast em,
body.bodyHighContrast embed,
body.bodyHighContrast fieldset,
body.bodyHighContrast figcaption,
body.bodyHighContrast figure,
body.bodyHighContrast font,
body.bodyHighContrast footer,
body.bodyHighContrast form,
body.bodyHighContrast h1,
body.bodyHighContrast h1 a,
body.bodyHighContrast h1 a b,
body.bodyHighContrast h1 abbr,
body.bodyHighContrast h1 b,
body.bodyHighContrast h1 center,
body.bodyHighContrast h1 em,
body.bodyHighContrast h1 i,
body.bodyHighContrast h1 span,
body.bodyHighContrast h1 strong,
body.bodyHighContrast h2,
body.bodyHighContrast h2 a,
body.bodyHighContrast h2 a b,
body.bodyHighContrast h2 abbr,
body.bodyHighContrast h2 b,
body.bodyHighContrast h2 center,
body.bodyHighContrast h2 em,
body.bodyHighContrast h2 i,
body.bodyHighContrast h2 span,
body.bodyHighContrast h2 strong,
body.bodyHighContrast h3,
body.bodyHighContrast h3 a,
body.bodyHighContrast h3 a b,
body.bodyHighContrast h3 abbr,
body.bodyHighContrast h3 b,
body.bodyHighContrast h3 center,
body.bodyHighContrast h3 em,
body.bodyHighContrast h3 i,
body.bodyHighContrast h3 span,
body.bodyHighContrast h3 strong,
body.bodyHighContrast h4,
body.bodyHighContrast h4 a,
body.bodyHighContrast h4 a b,
body.bodyHighContrast h4 abbr,
body.bodyHighContrast h4 b,
body.bodyHighContrast h4 center,
body.bodyHighContrast h4 em,
body.bodyHighContrast h4 i,
body.bodyHighContrast h4 span,
body.bodyHighContrast h4 strong,
body.bodyHighContrast h5,
body.bodyHighContrast h5 a,
body.bodyHighContrast h5 a b,
body.bodyHighContrast h5 abbr,
body.bodyHighContrast h5 b,
body.bodyHighContrast h5 center,
body.bodyHighContrast h5 em,
body.bodyHighContrast h5 i,
body.bodyHighContrast h5 span,
body.bodyHighContrast h5 strong,
body.bodyHighContrast h6,
body.bodyHighContrast h6 a,
body.bodyHighContrast h6 a b,
body.bodyHighContrast h6 abbr,
body.bodyHighContrast h6 b,
body.bodyHighContrast h6 center,
body.bodyHighContrast h6 em,
body.bodyHighContrast h6 i,
body.bodyHighContrast h6 span,
body.bodyHighContrast h6 strong,
body.bodyHighContrast header,
body.bodyHighContrast hgroup,
body.bodyHighContrast html,
body.bodyHighContrast i,
body.bodyHighContrast iframe,
body.bodyHighContrast input,
body.bodyHighContrast ins,
body.bodyHighContrast kbd,
body.bodyHighContrast label,
body.bodyHighContrast legend,
body.bodyHighContrast li,
body.bodyHighContrast listing,
body.bodyHighContrast main,
body.bodyHighContrast mark,
body.bodyHighContrast marquee,
body.bodyHighContrast menu,
body.bodyHighContrast meter,
body.bodyHighContrast multicol,
body.bodyHighContrast nav:not(#barAccessibility),
body.bodyHighContrast nobr,
body.bodyHighContrast object,
body.bodyHighContrast ol,
body.bodyHighContrast option,
body.bodyHighContrast output,
body.bodyHighContrast p,
body.bodyHighContrast plaintext,
body.bodyHighContrast pre,
body.bodyHighContrast progress,
body.bodyHighContrast q,
body.bodyHighContrast rb,
body.bodyHighContrast rp,
body.bodyHighContrast rt,
body.bodyHighContrast ruby,
body.bodyHighContrast s,
body.bodyHighContrast samp,
body.bodyHighContrast section,
body.bodyHighContrast small,
body.bodyHighContrast span,
body.bodyHighContrast strike,
body.bodyHighContrast strong,
body.bodyHighContrast sub,
body.bodyHighContrast summary,
body.bodyHighContrast sup,
body.bodyHighContrast svg,
body.bodyHighContrast table,
body.bodyHighContrast tbody,
body.bodyHighContrast td,
body.bodyHighContrast text,
body.bodyHighContrast textarea,
body.bodyHighContrast th,
body.bodyHighContrast thead,
body.bodyHighContrast time,
body.bodyHighContrast tr,
body.bodyHighContrast tt,
body.bodyHighContrast u,
body.bodyHighContrast ul,
body.bodyHighContrast var,
body.bodyHighContrast video,
body.bodyHighContrast xmp {
  background: black !important;
  background-color: black !important;
}
body.bodyHighContrast a,
body.bodyHighContrast article,
body.bodyHighContrast aside,
body.bodyHighContrast basefont,
body.bodyHighContrast bdi,
body.bodyHighContrast big,
body.bodyHighContrast blink,
body.bodyHighContrast blockquote,
body.bodyHighContrast body,
body.bodyHighContrast button,
body.bodyHighContrast canvas,
body.bodyHighContrast caption,
body.bodyHighContrast center,
body.bodyHighContrast code,
body.bodyHighContrast col,
body.bodyHighContrast colgroup,
body.bodyHighContrast command,
body.bodyHighContrast dd,
body.bodyHighContrast del,
body.bodyHighContrast details,
body.bodyHighContrast dir,
body.bodyHighContrast div,
body.bodyHighContrast dl,
body.bodyHighContrast dt,
body.bodyHighContrast embed,
body.bodyHighContrast fieldset,
body.bodyHighContrast figcaption,
body.bodyHighContrast figure,
body.bodyHighContrast font,
body.bodyHighContrast footer,
body.bodyHighContrast form,
body.bodyHighContrast header,
body.bodyHighContrast hgroup,
body.bodyHighContrast html,
body.bodyHighContrast iframe,
body.bodyHighContrast img,
body.bodyHighContrast input,
body.bodyHighContrast ins,
body.bodyHighContrast kbd,
body.bodyHighContrast label,
body.bodyHighContrast legend,
body.bodyHighContrast li,
body.bodyHighContrast listing,
body.bodyHighContrast main,
body.bodyHighContrast mark,
body.bodyHighContrast marquee,
body.bodyHighContrast menu,
body.bodyHighContrast meter,
body.bodyHighContrast multicol,
body.bodyHighContrast nav,
body.bodyHighContrast nobr,
body.bodyHighContrast object,
body.bodyHighContrast ol,
body.bodyHighContrast option,
body.bodyHighContrast output,
body.bodyHighContrast p,
body.bodyHighContrast plaintext,
body.bodyHighContrast pre,
body.bodyHighContrast progress,
body.bodyHighContrast q,
body.bodyHighContrast rb,
body.bodyHighContrast rp,
body.bodyHighContrast rt,
body.bodyHighContrast ruby,
body.bodyHighContrast s,
body.bodyHighContrast samp,
body.bodyHighContrast section,
body.bodyHighContrast select,
body.bodyHighContrast small,
body.bodyHighContrast span,
body.bodyHighContrast strike,
body.bodyHighContrast sub,
body.bodyHighContrast summary,
body.bodyHighContrast sup,
body.bodyHighContrast svg,
body.bodyHighContrast table,
body.bodyHighContrast tbody,
body.bodyHighContrast td,
body.bodyHighContrast text,
body.bodyHighContrast textarea,
body.bodyHighContrast th,
body.bodyHighContrast thead,
body.bodyHighContrast time,
body.bodyHighContrast tr,
body.bodyHighContrast tt,
body.bodyHighContrast ul,
body.bodyHighContrast var,
body.bodyHighContrast video,
body.bodyHighContrast xmp {
  color: white !important;
}
body.bodyHighContrast abbr,
body.bodyHighContrast acronym,
body.bodyHighContrast b,
body.bodyHighContrast b span,
body.bodyHighContrast h1 b,
body.bodyHighContrast h1 strong,
body.bodyHighContrast h2 b,
body.bodyHighContrast h2 strong,
body.bodyHighContrast h3 b,
body.bodyHighContrast h3 strong,
body.bodyHighContrast h4 b,
body.bodyHighContrast h4 strong,
body.bodyHighContrast h5 b,
body.bodyHighContrast h5 strong,
body.bodyHighContrast h6 b,
body.bodyHighContrast h6 strong,
body.bodyHighContrast strong,
body.bodyHighContrast strong span {
  color: yellow !important;
}
body.bodyHighContrast address,
body.bodyHighContrast address span,
body.bodyHighContrast cite,
body.bodyHighContrast cite span,
body.bodyHighContrast dfn,
body.bodyHighContrast dfn span,
body.bodyHighContrast em,
body.bodyHighContrast em span,
body.bodyHighContrast h1 em,
body.bodyHighContrast h1 i,
body.bodyHighContrast h2 em,
body.bodyHighContrast h2 i,
body.bodyHighContrast h3 em,
body.bodyHighContrast h3 i,
body.bodyHighContrast h4 em,
body.bodyHighContrast h4 i,
body.bodyHighContrast h5 em,
body.bodyHighContrast h5 i,
body.bodyHighContrast h6 em,
body.bodyHighContrast h6 i,
body.bodyHighContrast i,
body.bodyHighContrast i span,
body.bodyHighContrast u,
body.bodyHighContrast u span {
  color: #FFFF80 !important;
}
body.bodyHighContrast dt {
  border-top: thin solid grey !important;
}
body.bodyHighContrast h1,
body.bodyHighContrast h1 a,
body.bodyHighContrast h1 a b,
body.bodyHighContrast h1 abbr,
body.bodyHighContrast h1 center,
body.bodyHighContrast h1 span,
body.bodyHighContrast h2,
body.bodyHighContrast h2 a,
body.bodyHighContrast h2 a b,
body.bodyHighContrast h2 abbr,
body.bodyHighContrast h2 center,
body.bodyHighContrast h2 span,
body.bodyHighContrast h3,
body.bodyHighContrast h3 a,
body.bodyHighContrast h3 a b,
body.bodyHighContrast h3 abbr,
body.bodyHighContrast h3 center,
body.bodyHighContrast h3 span,
body.bodyHighContrast h4,
body.bodyHighContrast h4 a,
body.bodyHighContrast h4 a b,
body.bodyHighContrast h4 abbr,
body.bodyHighContrast h4 center,
body.bodyHighContrast h4 span,
body.bodyHighContrast h5,
body.bodyHighContrast h5 a,
body.bodyHighContrast h5 a b,
body.bodyHighContrast h5 abbr,
body.bodyHighContrast h5 center,
body.bodyHighContrast h5 span,
body.bodyHighContrast h6,
body.bodyHighContrast h6 a,
body.bodyHighContrast h6 a b,
body.bodyHighContrast h6 abbr,
body.bodyHighContrast h6 center,
body.bodyHighContrast h6 span {
  color: #40C090 !important;
}
body.bodyHighContrast img {
  background: #808080 !important;
  background-color: #808080 !important;
}
body.bodyHighContrast abbr,
body.bodyHighContrast acronym {
  border-bottom: 1px dotted !important;
}
body.bodyHighContrast :focus {
  outline: thin dotted !important;
}
body.bodyHighContrast a.button,
body.bodyHighContrast a.button abbr,
body.bodyHighContrast a.button acronym,
body.bodyHighContrast a.button b,
body.bodyHighContrast a.button basefont,
body.bodyHighContrast a.button big,
body.bodyHighContrast a.button br,
body.bodyHighContrast a.button code,
body.bodyHighContrast a.button div,
body.bodyHighContrast a.button em,
body.bodyHighContrast a.button font,
body.bodyHighContrast a.button h1,
body.bodyHighContrast a.button h2,
body.bodyHighContrast a.button h3,
body.bodyHighContrast a.button h4,
body.bodyHighContrast a.button h5,
body.bodyHighContrast a.button h6,
body.bodyHighContrast a.button i,
body.bodyHighContrast a.button kbd,
body.bodyHighContrast a.button rb,
body.bodyHighContrast a.button rp,
body.bodyHighContrast a.button rt,
body.bodyHighContrast a.button ruby,
body.bodyHighContrast a.button samp,
body.bodyHighContrast a.button small,
body.bodyHighContrast a.button span,
body.bodyHighContrast a.button strong,
body.bodyHighContrast a.button tt,
body.bodyHighContrast a.button u,
body.bodyHighContrast a.button var,
body.bodyHighContrast a:link,
body.bodyHighContrast a:link abbr,
body.bodyHighContrast a:link acronym,
body.bodyHighContrast a:link b,
body.bodyHighContrast a:link basefont,
body.bodyHighContrast a:link big,
body.bodyHighContrast a:link br,
body.bodyHighContrast a:link code,
body.bodyHighContrast a:link div,
body.bodyHighContrast a:link em,
body.bodyHighContrast a:link font,
body.bodyHighContrast a:link h1,
body.bodyHighContrast a:link h2,
body.bodyHighContrast a:link h3,
body.bodyHighContrast a:link h4,
body.bodyHighContrast a:link h5,
body.bodyHighContrast a:link h6,
body.bodyHighContrast a:link i,
body.bodyHighContrast a:link kbd,
body.bodyHighContrast a:link rb,
body.bodyHighContrast a:link rp,
body.bodyHighContrast a:link rt,
body.bodyHighContrast a:link ruby,
body.bodyHighContrast a:link samp,
body.bodyHighContrast a:link small,
body.bodyHighContrast a:link span,
body.bodyHighContrast a:link strong,
body.bodyHighContrast a:link tt,
body.bodyHighContrast a:link u,
body.bodyHighContrast a:link var,
body.bodyHighContrast div#secondaryNav div#documentNavigation ul.navigationTabs li.tabItem {
  color: #0080FF !important;
}
body.bodyHighContrast button,
body.bodyHighContrast input,
body.bodyHighContrast textarea,
body.bodyHighContrast select,
body.bodyHighContrast table,
body.bodyHighContrast td,
body.bodyHighContrast th,
body.bodyHighContrast tr,
body.bodyHighContrast tt {
  border: 1px solid #ffffff !important;
}
body.bodyHighContrast button {
  background: #600040 !important;
  background-color: #600040 !important;
}
body.bodyHighContrast select {
  -webkit-appearance: listbox !important;
  background: #600060 !important;
  background-color: #600060 !important;
}
body.bodyHighContrast a:visited,
body.bodyHighContrast a:visited abbr,
body.bodyHighContrast a:visited acronym,
body.bodyHighContrast a:visited b,
body.bodyHighContrast a:visited basefont,
body.bodyHighContrast a:visited big,
body.bodyHighContrast a:visited br,
body.bodyHighContrast a:visited code,
body.bodyHighContrast a:visited div,
body.bodyHighContrast a:visited em,
body.bodyHighContrast a:visited font,
body.bodyHighContrast a:visited h1,
body.bodyHighContrast a:visited h2,
body.bodyHighContrast a:visited h3,
body.bodyHighContrast a:visited h4,
body.bodyHighContrast a:visited h5,
body.bodyHighContrast a:visited h6,
body.bodyHighContrast a:visited i,
body.bodyHighContrast a:visited kbd,
body.bodyHighContrast a:visited rb,
body.bodyHighContrast a:visited rp,
body.bodyHighContrast a:visited rt,
body.bodyHighContrast a:visited ruby,
body.bodyHighContrast a:visited samp,
body.bodyHighContrast a:visited small,
body.bodyHighContrast a:visited span,
body.bodyHighContrast a:visited strong,
body.bodyHighContrast a:visited tt,
body.bodyHighContrast a:visited u,
body.bodyHighContrast a:visited var,
body.bodyHighContrast div#secondaryNav div#documentNavigation ul.navigationTabs li.tabItem.active {
  color: #00FFFF !important;
}
body.bodyHighContrast ::selection,
body.bodyHighContrast ::-moz-selection {
  background: #4080c0 !important;
  background-color: #4080c0 !important;
}
body.bodyHighContrast a.button:hover,
body.bodyHighContrast a.button:hover abbr,
body.bodyHighContrast a.button:hover acronym,
body.bodyHighContrast a.button:hover b,
body.bodyHighContrast a.button:hover basefont,
body.bodyHighContrast a.button:hover big,
body.bodyHighContrast a.button:hover br,
body.bodyHighContrast a.button:hover code,
body.bodyHighContrast a.button:hover div,
body.bodyHighContrast a.button:hover em,
body.bodyHighContrast a.button:hover font,
body.bodyHighContrast a.button:hover h1,
body.bodyHighContrast a.button:hover h2,
body.bodyHighContrast a.button:hover h3,
body.bodyHighContrast a.button:hover h4,
body.bodyHighContrast a.button:hover h5,
body.bodyHighContrast a.button:hover h6,
body.bodyHighContrast a.button:hover i,
body.bodyHighContrast a.button:hover kbd,
body.bodyHighContrast a.button:hover rb,
body.bodyHighContrast a.button:hover rp,
body.bodyHighContrast a.button:hover rt,
body.bodyHighContrast a.button:hover ruby,
body.bodyHighContrast a.button:hover samp,
body.bodyHighContrast a.button:hover small,
body.bodyHighContrast a.button:hover span,
body.bodyHighContrast a.button:hover strong,
body.bodyHighContrast a.button:hover tt,
body.bodyHighContrast a.button:hover u,
body.bodyHighContrast a.button:hover var,
body.bodyHighContrast a:link:hover,
body.bodyHighContrast a:link:hover abbr,
body.bodyHighContrast a:link:hover acronym,
body.bodyHighContrast a:link:hover b,
body.bodyHighContrast a:link:hover basefont,
body.bodyHighContrast a:link:hover big,
body.bodyHighContrast a:link:hover br,
body.bodyHighContrast a:link:hover code,
body.bodyHighContrast a:link:hover div,
body.bodyHighContrast a:link:hover em,
body.bodyHighContrast a:link:hover font,
body.bodyHighContrast a:link:hover h1,
body.bodyHighContrast a:link:hover h2,
body.bodyHighContrast a:link:hover h3,
body.bodyHighContrast a:link:hover h4,
body.bodyHighContrast a:link:hover h5,
body.bodyHighContrast a:link:hover h6,
body.bodyHighContrast a:link:hover i,
body.bodyHighContrast a:link:hover kbd,
body.bodyHighContrast a:link:hover rb,
body.bodyHighContrast a:link:hover rp,
body.bodyHighContrast a:link:hover rt,
body.bodyHighContrast a:link:hover ruby,
body.bodyHighContrast a:link:hover samp,
body.bodyHighContrast a:link:hover small,
body.bodyHighContrast a:link:hover span,
body.bodyHighContrast a:link:hover strong,
body.bodyHighContrast a:link:hover tt,
body.bodyHighContrast a:link:hover u,
body.bodyHighContrast a:link:hover var,
body.bodyHighContrast a:visited:hover,
body.bodyHighContrast a:visited:hover abbr,
body.bodyHighContrast a:visited:hover acronym,
body.bodyHighContrast a:visited:hover b,
body.bodyHighContrast a:visited:hover basefont,
body.bodyHighContrast a:visited:hover big,
body.bodyHighContrast a:visited:hover br,
body.bodyHighContrast a:visited:hover code,
body.bodyHighContrast a:visited:hover div,
body.bodyHighContrast a:visited:hover em,
body.bodyHighContrast a:visited:hover font,
body.bodyHighContrast a:visited:hover h1,
body.bodyHighContrast a:visited:hover h2,
body.bodyHighContrast a:visited:hover h3,
body.bodyHighContrast a:visited:hover h4,
body.bodyHighContrast a:visited:hover h5,
body.bodyHighContrast a:visited:hover h6,
body.bodyHighContrast a:visited:hover i,
body.bodyHighContrast a:visited:hover kbd,
body.bodyHighContrast a:visited:hover rb,
body.bodyHighContrast a:visited:hover rp,
body.bodyHighContrast a:visited:hover rt,
body.bodyHighContrast a:visited:hover ruby,
body.bodyHighContrast a:visited:hover samp,
body.bodyHighContrast a:visited:hover small,
body.bodyHighContrast a:visited:hover span,
body.bodyHighContrast a:visited:hover strong,
body.bodyHighContrast a:visited:hover tt,
body.bodyHighContrast a:visited:hover u,
body.bodyHighContrast a:visited:hover var {
  background: #400000 !important;
  background-color: #400000 !important;
}
body.bodyHighContrast body > input#site + div#wrapper span.mk,
body.bodyHighContrast body > input#site + div#wrapper span.mk b,
body.bodyHighContrast input[type=reset] {
  background: #400060 !important;
  background-color: #400060 !important;
}
body.bodyHighContrast div[role="button"],
body.bodyHighContrast input[type=button],
body.bodyHighContrast input[type=submit] {
  background: #600040 !important;
  background-color: #600040 !important;
}
body.bodyHighContrast input[type=search] {
  -webkit-appearance: textfield !important;
}
body.bodyHighContrast html button[disabled],
body.bodyHighContrast html input[disabled],
body.bodyHighContrast html select[disabled],
body.bodyHighContrast html textarea[disabled] {
  background: #404040 !important;
  background-color: #404040 !important;
}
body.bodyHighContrast .menu li a span.label {
  text-transform: none !important;
}
body.bodyHighContrast .menu li a span.label,
body.bodyHighContrast div.jwplayer span.jwcontrolbar,
body.bodyHighContrast div.jwplayer span.jwcontrols {
  display: inline !important;
}
body.bodyHighContrast a:link.new,
body.bodyHighContrast a:link.new i,
body.bodyHighContrast a:link.new b,
body.bodyHighContrast span.Apple-style-span {
  color: #FFFF40 !important;
}
body.bodyHighContrast body.mediawiki img.tex {
  background: white !important;
  background-color: white !important;
  border: white solid 3px !important;
}
body.bodyHighContrast text > tspan:first-letter,
body.bodyHighContrast text > tspan:first-line {
  background: inherit !important;
  background-color: inherit !important;
  color: inherit !important;
}
body.bodyHighContrast div.sbtc div.sbsb_a li.sbsb_d div,
body.bodyHighContrast table.gssb_c tr.gssb_i a,
body.bodyHighContrast table.gssb_c tr.gssb_i b,
body.bodyHighContrast table.gssb_c tr.gssb_i span,
body.bodyHighContrast table.gssb_c tr.gssb_i td {
  background: #003050 !important;
  background-color: #003050 !important;
}
body.bodyHighContrast img[width="18"][height="18"] {
  height: 18px !important;
  width: 18px !important;
}
body.bodyHighContrast a > span.iconHelp:empty:after {
  content: "Help" !important;
}
body.bodyHighContrast div#gmap,
body.bodyHighContrast div#gmap * {
  background: initial !important;
}

/********************* Negative Contrast *********************/
body.bodyNegativeContrast,
body.bodyNegativeContrast * {
  background: #000 !important;
  color: #ffffff !important;
}
body.bodyNegativeContrast a,
body.bodyNegativeContrast *:not(#barAccessibility) a,
body.bodyNegativeContrast b,
body.bodyNegativeContrast *:not(#barAccessibility) b,
body.bodyNegativeContrast blockquote,
body.bodyNegativeContrast *:not(#barAccessibility) blockquote,
body.bodyNegativeContrast button,
body.bodyNegativeContrast *:not(#barAccessibility) button,
body.bodyNegativeContrast canvas,
body.bodyNegativeContrast *:not(#barAccessibility) canvas,
body.bodyNegativeContrast caption,
body.bodyNegativeContrast *:not(#barAccessibility) caption,
body.bodyNegativeContrast center,
body.bodyNegativeContrast *:not(#barAccessibility) center,
body.bodyNegativeContrast cite,
body.bodyNegativeContrast *:not(#barAccessibility) cite,
body.bodyNegativeContrast code,
body.bodyNegativeContrast *:not(#barAccessibility) code,
body.bodyNegativeContrast col,
body.bodyNegativeContrast *:not(#barAccessibility) col,
body.bodyNegativeContrast colgroup,
body.bodyNegativeContrast *:not(#barAccessibility) colgroup,
body.bodyNegativeContrast dd,
body.bodyNegativeContrast *:not(#barAccessibility) dd,
body.bodyNegativeContrast details,
body.bodyNegativeContrast *:not(#barAccessibility) details,
body.bodyNegativeContrast dfn,
body.bodyNegativeContrast *:not(#barAccessibility) dfn,
body.bodyNegativeContrast dir,
body.bodyNegativeContrast *:not(#barAccessibility) dir,
body.bodyNegativeContrast div,
body.bodyNegativeContrast *:not(#barAccessibility) div,
body.bodyNegativeContrast dl,
body.bodyNegativeContrast *:not(#barAccessibility) dl,
body.bodyNegativeContrast dt,
body.bodyNegativeContrast *:not(#barAccessibility) dt,
body.bodyNegativeContrast em,
body.bodyNegativeContrast *:not(#barAccessibility) em,
body.bodyNegativeContrast embed,
body.bodyNegativeContrast *:not(#barAccessibility) embed,
body.bodyNegativeContrast fieldset,
body.bodyNegativeContrast *:not(#barAccessibility) fieldset,
body.bodyNegativeContrast figcaption,
body.bodyNegativeContrast *:not(#barAccessibility) figcaption,
body.bodyNegativeContrast figure,
body.bodyNegativeContrast *:not(#barAccessibility) figure,
body.bodyNegativeContrast font,
body.bodyNegativeContrast *:not(#barAccessibility) font,
body.bodyNegativeContrast footer,
body.bodyNegativeContrast *:not(#barAccessibility) footer,
body.bodyNegativeContrast form,
body.bodyNegativeContrast *:not(#barAccessibility) form,
body.bodyNegativeContrast header,
body.bodyNegativeContrast *:not(#barAccessibility) header,
body.bodyNegativeContrast i,
body.bodyNegativeContrast *:not(#barAccessibility) i,
body.bodyNegativeContrast iframe,
body.bodyNegativeContrast *:not(#barAccessibility) iframe,
body.bodyNegativeContrast img,
body.bodyNegativeContrast *:not(#barAccessibility) img,
body.bodyNegativeContrast input,
body.bodyNegativeContrast *:not(#barAccessibility) input,
body.bodyNegativeContrast kbd,
body.bodyNegativeContrast *:not(#barAccessibility) kbd,
body.bodyNegativeContrast label,
body.bodyNegativeContrast *:not(#barAccessibility) label,
body.bodyNegativeContrast legend,
body.bodyNegativeContrast *:not(#barAccessibility) legend,
body.bodyNegativeContrast li,
body.bodyNegativeContrast *:not(#barAccessibility) li,
body.bodyNegativeContrast mark,
body.bodyNegativeContrast *:not(#barAccessibility) mark,
body.bodyNegativeContrast menu,
body.bodyNegativeContrast *:not(#barAccessibility) menu,
body.bodyNegativeContrast meter,
body.bodyNegativeContrast *:not(#barAccessibility) meter,
body.bodyNegativeContrast nav,
body.bodyNegativeContrast *:not(#barAccessibility) nav,
body.bodyNegativeContrast nobr,
body.bodyNegativeContrast *:not(#barAccessibility) nobr,
body.bodyNegativeContrast object,
body.bodyNegativeContrast *:not(#barAccessibility) object,
body.bodyNegativeContrast ol,
body.bodyNegativeContrast *:not(#barAccessibility) ol,
body.bodyNegativeContrast option,
body.bodyNegativeContrast *:not(#barAccessibility) option,
body.bodyNegativeContrast pre,
body.bodyNegativeContrast *:not(#barAccessibility) pre,
body.bodyNegativeContrast progress,
body.bodyNegativeContrast *:not(#barAccessibility) progress,
body.bodyNegativeContrast q,
body.bodyNegativeContrast *:not(#barAccessibility) q,
body.bodyNegativeContrast s,
body.bodyNegativeContrast *:not(#barAccessibility) s,
body.bodyNegativeContrast section,
body.bodyNegativeContrast *:not(#barAccessibility) section,
body.bodyNegativeContrast select,
body.bodyNegativeContrast *:not(#barAccessibility) select,
body.bodyNegativeContrast small,
body.bodyNegativeContrast *:not(#barAccessibility) small,
body.bodyNegativeContrast span,
body.bodyNegativeContrast *:not(#barAccessibility) span,
body.bodyNegativeContrast strike,
body.bodyNegativeContrast *:not(#barAccessibility) strike,
body.bodyNegativeContrast strong,
body.bodyNegativeContrast *:not(#barAccessibility) strong,
body.bodyNegativeContrast sub,
body.bodyNegativeContrast *:not(#barAccessibility) sub,
body.bodyNegativeContrast summary,
body.bodyNegativeContrast *:not(#barAccessibility) summary,
body.bodyNegativeContrast sup,
body.bodyNegativeContrast *:not(#barAccessibility) sup,
body.bodyNegativeContrast table,
body.bodyNegativeContrast *:not(#barAccessibility) table,
body.bodyNegativeContrast td,
body.bodyNegativeContrast *:not(#barAccessibility) td,
body.bodyNegativeContrast textarea,
body.bodyNegativeContrast *:not(#barAccessibility) textarea,
body.bodyNegativeContrast th,
body.bodyNegativeContrast *:not(#barAccessibility) th,
body.bodyNegativeContrast time,
body.bodyNegativeContrast *:not(#barAccessibility) time,
body.bodyNegativeContrast tr,
body.bodyNegativeContrast *:not(#barAccessibility) tr,
body.bodyNegativeContrast tt,
body.bodyNegativeContrast *:not(#barAccessibility) tt,
body.bodyNegativeContrast u,
body.bodyNegativeContrast *:not(#barAccessibility) u,
body.bodyNegativeContrast ul,
body.bodyNegativeContrast *:not(#barAccessibility) ul,
body.bodyNegativeContrast var,
body.bodyNegativeContrast *:not(#barAccessibility) var,
body.bodyNegativeContrast a span,
body.bodyNegativeContrast *:not(#barAccessibility) a span,
body.bodyNegativeContrast strong,
body.bodyNegativeContrast *:not(#barAccessibility) strong {
  color: yellow !important;
}
body.bodyNegativeContrast button,
body.bodyNegativeContrast *:not(#barAccessibility) button,
body.bodyNegativeContrast input,
body.bodyNegativeContrast *:not(#barAccessibility) input,
body.bodyNegativeContrast textarea,
body.bodyNegativeContrast *:not(#barAccessibility) textarea,
body.bodyNegativeContrast select,
body.bodyNegativeContrast *:not(#barAccessibility) select,
body.bodyNegativeContrast table,
body.bodyNegativeContrast *:not(#barAccessibility) table,
body.bodyNegativeContrast td,
body.bodyNegativeContrast *:not(#barAccessibility) td,
body.bodyNegativeContrast th,
body.bodyNegativeContrast *:not(#barAccessibility) th,
body.bodyNegativeContrast tr,
body.bodyNegativeContrast *:not(#barAccessibility) tr,
body.bodyNegativeContrast tt,
body.bodyNegativeContrast *:not(#barAccessibility) tt {
  border: 1px solid #ffffff !important;
}
body.bodyNegativeContrast div#gmap,
body.bodyNegativeContrast div#gmap * {
  background: initial !important;
}

/********************* Breakpoint *********************/
@media (max-width: 1024px){
    .hiddenMobile{display: none;}
}

@media (max-width: 768px){
    #topAcessibility,
    #accessibilityFontes,
    #accessibilityTutorial{
        text-align: center;
    }
    #accessibilityTutorial{display: none;}
}